.RegisterWindow{
    background-color: rgba(0, 0, 0, 0.411);
    padding: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    & .registerCard{
        padding: 12px;
        background-color: white;
        border-radius: 8px;
        width: fit-content;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & .CloseBtn{
            padding: 0;
            font-size: 5rem;
            font-weight: 600;
            color: #5d5d5d;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            position: absolute;
            right: 10px;
            top: 0px;
        }
        & .head{
            font-size: 5rem;
            font-weight: 600;
            color: #011968;
            padding:12px;
        }
        & form {
            flex: 1;
            padding: 5em;
            width: fit-content;
            display: flex;
            flex-direction: column;
            gap: 12px; 
            align-items: center;
            justify-content: center;
            position: relative;
            box-sizing: border-box;
            margin-top: 2em;
            & .inputRow {
                display: flex;
                gap: 32px;
                width: 100%;
                max-width: 700px;
                margin-left: 2em;
            }
    
            & .inputContainer {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 350px; 
                box-sizing: border-box;
    
                & label {
                    font-size: 1.5rem;
                }
    
                & input,
                & select {
                    font-size: 1.5rem;
                    padding: 0.5em;
                    color: #5d5d5d;
                    width: 100%; 
                    box-sizing: border-box;
                }
    
                & select {
                    & option {
                        font-size: 1.5rem;
                    }
                }
    
                &.form-description {
                    width: 100%;
                    max-width: 700px; 
                    display: flex;
                    flex-direction: column;
    
                    & textarea {
                        font-size: 1.5rem;
                        padding: 0.5em;
                        color: #5d5d5d;
                        width: 100%;
                        max-width: 100%;
                        min-height: 100px; 
                        resize: vertical; 
                        box-sizing: border-box;
                        overflow-y: auto; 
                    }
                }
    
                &.form-button {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    & button {
                        width: fit-content;
                        font-size: 1.5rem;
                        font-weight: 600;
                        padding: 0.4em 0.8em;
                        margin-top: 1.2em;
                        background-color: rgb(22, 22, 165);
                        border: none;
                        border-radius: 0.2em;
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}