.Navbar{
    display: flex;
    padding: 8em;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 1;
    & .left{
        & .text{
            font-size: 2rem;
        }
    }
    & .right{
        width: fit-content;
        display: flex;
        gap: 30em;
        align-items: center;
        & ul{
            display: flex;
            gap: 28em;
            list-style: none;
            & li{
                font-size: 5rem;
                color: #5d5d5d;
                font-weight: 600;
                cursor: pointer;
                &:hover{
                    color: black;
                }
            }
        }
        
       
    }
}

.link{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}